.bg-mvc{
    background-color: #92de8b;
}

.bg-brand{
    background-color: #028174; 
}
.sidebar .nav-item{
    background-color: #0ab68b;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1); /* IE */
  -moz-transform: scale(1); /* FF */
  -webkit-transform: scale(1); /* Safari and Chrome */
  -o-transform: scale(1); /* Opera */
  padding: 10px;
}