.bg-nav{
    background-color: #92de8b;
}

.bg-brand{
    background-color: #028174; 
    height: 10%;
}

.nav-item{
    background-color: #0ab68b;
    /* height: 50%; */
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}

.nav-pills{
    --bs-nav-pills-link-active-bg: #3adc91;
    /* background-color: #3adc91; */
}

